---
export interface Props {
  id?: string;
  minimized?: boolean;
}

const { id = "notice-overlay", minimized = false } = Astro.props;
---

<div id={id} class:list={["notice-overlay", { minimized }]}>
  <div class="notice">
    <div class="titlebar">
      <span><slot name="title" /></span>
      <span role="button" title="Minimize" id="notice-control">[x]</span>
    </div>
    <div class="content">
      <slot />
    </div>
  </div>
</div>

<style>
  .notice-overlay {
    padding: 2em;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    z-index: 10;
    pointer-events: none;
    user-select: none;

    & .notice {
      width: 50%;
      height: min-content;
      max-height: calc(100vh - 4em);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      cursor: default;
      background: #fff;
      pointer-events: all;

      & .titlebar {
        padding: .5em 1em;
        border: 2px solid black;
        height: min-content;
        display: flex;
        justify-content: space-between;

        #notice-control {
          cursor: pointer;
        }
      }

      & .content {
        padding: 1em;
        border: 2px solid black;
        border-top: none;
        height: min-content;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 1em;
      }
    }

    &.minimized {
      & .notice {
        width: 25%;
        min-width: 120px;
        transition: width .25s;

        &:hover {
          opacity: 1;
          width: 50%;
        }

        & .content {
          display: none;
        }
      }
    }

    @media (max-width: 600px) {
      padding: 1em;
      justify-content: stretch;

      & .notice {
        width: 100%;
        max-width: none;
      }

      &.minimized .notice {
        width: 100%;
        min-width: unset;

        &:hover {
          width: 100%;
        }
      }
    }
  }
</style>
